#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries
- List Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Pandas
- MatPlotLib

|Data Science Tools |
|-------------------|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

[1] 17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

[1] 3.333333

## Author
Fabian